.temaEdit{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.fantasmaTema{
    height: 20rem;
}
.buttonEditavel{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.buttonEditavel button{
    width: 40rem;
    height: 5rem;
    font-size: 2rem;
    border-radius: 10px;
}